@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');

.grid-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 72px 1fr;
  grid-template-areas:
    "sidebar head head head"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
  height: 100vh;
}

.grid-sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: head;
  box-shadow: 0 1px 0 0 #eaedf3;
}

.content {
  background-color: #fafafa;
  grid-area: main;
}
